<!-- String interpolation one way data binding

<h1>{{title}}</h1>

<h1><img [src] = 'card'></h1>

<h2 [innerHTML]="choice"></h2>


()==>  Round bracket syntax is used for Event Binding  -->
<!-- {}, [] ==> brackets for the data binding.. -->

<!-- <button [disabled] = 'choice'
(click)='show()'
>Click Here!</button> -->


<!-- Bootstrap link -->

<div class='jumbotron head text-center'>
    <h1>BlogHub</h1>
    <p>Pen down your thoughts to share with World</p>
</div>

<blogform></blogform>
<app-bloglist></app-bloglist>