#list{
    padding: 20px;
    border: 2px solid rgb(12, 105, 211);
    width: 80%;
    margin: 30px auto;
    background-color: rgb(34, 154, 34);
    padding: 10px;
    margin-bottom: 10px;
    color: cornsilk;
}