/* You can add global styles to this file, and also import other style files */
body{
    background-color: blanchedalmond;
}

/* button{
    width: 200px;
    height: 80px;
    background-color: black;
    color: white;
    font-size: 20px;
} */

/* Next Bootstrap Application */

